mixin adidas_card(title, subtitle, page, image)
  #product-card-container
    #product-card
      .shadow
      img.product-image(src='img/services/#{image}.jpg', alt='')
      .image_overlay
      a#view_details(href="/#{page}") Get a Quote
      .stats-container
        span.product_name #{title}
        p #{subtitle}
        .product-options
          if block
            block
          else
            p ""