block footer
  footer.footer
    .address.footer-col
      .street 2724 Mountainview Dr.
      .state Waco, Texas 76710
    .contact-us.footer-col
      .email clifton@starboardservice.com
      .phone 254.717.7994
    .social.footer-col
      .facebook
      .twitter
      .instagram