.content-wrapper
  .sing-up-panel
    form
      h1 Lets get started
      .input
        input#name(type="text" required)
        .bar
        label Username
      .input
        input#mail(type="text" required)
        .bar
        label Mail
      .input
        input#password(type="password" required)
        .bar
        label Password
      .button-wrapper
        button.sing-up(type="submit") Sign Up