.card.card-3#index_quote
  .quote-panel
    form
      h1 Lets get started
      .input
        input#name(type="text" required)
        .bar
        label Username
      .input
        input#mail(type="text" required)
        .bar
        label Mail
      .input
        textarea#description(required)
        .bar
        label Description of job
      .button-wrapper
        button.sing-up(type="submit") Sign Up