#make-3D-space
  #product-card
    #product-front
      .shadow
      //img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png', alt='')
      img.product-image(src='img/services/rikki-chan-122582.jpg', alt='')
      .image_overlay
      #view_details View details
      //.stats
      .stats-container
        span.product_price $39
        span.product_name Adidas Originals
        p Men's running shirt
        .product-options
          strong SIZES
          span XS, S, M, L, XL, XXL
          strong COLORS
          .colors
            .c-blue
              span
            .c-red
              span
            .c-white
              span
            .c-green
              span
    #product-back
      .shadow
      #carousel
        ul
          li
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large.png', alt='')
          li
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large2.png', alt='')
          li
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large3.png', alt='')
        .arrows-perspective
          .carouselPrev
            .y
            .x
          .carouselNext
            .y
            .x
      #flip-back
        #cy
        #cx