include ./_mixins.jade
.card-container
  h2.card-title #{card_title}
  .img-wrapper
    img(src="img/services/#{image}.jpg")
    .test
  p.detail #{card_subtitle}
  .button-wrapper
    .layer
    button.main-button.card-button
      span.icon-info2
      .ripple
  .layered-content
    button.close-button.card-button
      span.icon-cross
    .card-content
      p #{card_help}