section.content
  .about
    p Your finest resource for construction cleaning services, commercial, residential, and food service clean-up in Central Texas. We are a local, family-owned business located in Waco, Texas, serving McLennan and neighboring counties within Central Texas. We take pride in our service and quality, doing it right the first time, on-time.

    p You can trust Starboard Services to exceed your expectations for all of your post-construction needs. We service restaurants, food service establishments, and commercial and residential properties.
    //- img(src='./img/boats_trimmed.jpg').boats
  .quote
    //- img(src='./img/kaboompics.com_Girl sitting on the boat.jpg').girl
    p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .services
    p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
