section.content
  .about
    h1 One day till open. Construction site is a mess. Call us
    h1 Your finest resource for construction cleaning services, commercial, residential, and food service clean-up in Central Texas. We are a local, family-owned business located in Waco, Texas, serving McLennan and neighboring counties within Central Texas. We take pride in our service and quality, doing it right the first time, on-time.

    p You can trust Starboard Services to exceed your expectations for all of your post-construction needs. We service restaurants, food service establishments, and commercial and residential properties.
