header
  .header-position
    h1.logo Starboard Services

    nav.navigation
      ul.links
        li: a(href="#quote") quote
        li: a(href="#projects") projects
        li: a(href="#contact") contact

    a(href="mailto:clifton.thrailkill@gmail.com").email-link +contact
