extends layout

block content
  include content
  section(style="height: 2000px")
    //- #container.col
    //-   h1 Starboard Services!
    //-   p.
    //-     Your finest resource for post construction, new home clean-up in Central Texas.  We are a local, family owned business located in Waco, Texas, serving McLennan and neighboring counties within Central Texas.  We take pride in our service and quality, doing it right the first time, on-time.
    //-   :marked
    //-     This is going to be dad's website
