extends components/layout
include tools

block content
  .content
    .mobile
      section.cta
        h1 Inspection Tomorrow?
        button.cta_button(type="tel" href="tel:2544244553") Call
      section.info
    .large
      section.cta_section
        .cta.card-3
          #homepage_title Clean before you open
          #cta_separator
          p Business ready to open, but the place is a mess? We can help.
          button.cta_button Get a Quote
      .fold
        .panel
          include index_panels/services
        .panel.quote-form
          .flow-container
            .content-wrapper
              .quote-wrapper
                +lipsum(3, "paragraphs")
            .content-wrapper
              include components/quote