section.services_panel
  a(name='services')
  h1 What We Do
  .services
    .col.card.card-3#cleanup
      - var card_title = 'Construction Cleanup'
      - var card_subtitle = 'Pre & Post Completion'
      - var card_help = "dlfjdfkldf"
      - var image = "jamie-street-105288"
      include card
    .col.card.card-3#make_ready
      - var card_title = 'Real Estate Make Ready'
      - var card_subtitle = "Open House coming up? New renters?"
      - var card_help = "Another thing"
      - var image = "anthony-delanoix-16765"
      include card
    .col.card.card-3#external_cleanup
      - var card_title = 'External Business Cleanup'
      - var card_subtitle = "Already have a business, but don't have the time to spruce it up?"
      - var card_help = "External Business Cleanup"
      - var image = "pietro-de-grandi-149555"
      include card
