include ./adidas_card.jade
section.services_panel
  a(name='services')
  h1 What We Do
  .services
    .col.card.card-1#cleanup
      - var card_title = 'Construction Cleanup'
      - var card_subtitle = 'Pre & Post Completion'
      - var image = "jamie-street-105288"
      - var page = "constructionCleanup"
      +adidas_card(card_title, card_subtitle, page, image)
        ul
          li Current Construction Cleanup
          li Post Construction Make Ready
    .col.card.card-1#make_ready
      - var card_title = 'Real Estate Make Ready'
      - var card_subtitle = "Open House? New renters?"
      - var image = "anthony-delanoix-16765"
      - var page = "constructionCleanup"
      +adidas_card(card_title, card_subtitle, page, image)
        ul
          li Deep Cleaning
          li Repairs
          li Painting
          li Rekeying of locks
          li Debris Removal
    .col.card.card-1
      - var card_title = 'Business Cleanup'
      - var card_subtitle = "Exterior Cleaning"
      - var image = "pietro-de-grandi-149555"
      - var page = "constructionCleanup"
      +adidas_card(card_title, card_subtitle, page, image)
        ul
          li Pressure Washing
          li Trash Clean-Up
          li Window Cleaning

