@import url(https://fonts.googleapis.com/css?family='Roboto+Slab':400,300,700)
@import '_settings'
@import '_buttons'
@import "material"

scrollbar_width = 17px
header_width = 135px

.content
  font-family 'Raleway', serif
  color $font-color
  text-align center
  h1
    text-align center
    margin 0
  h2
    font-weight 300px
    line-height 1.2
    font-size 2.5rem
  .large
    section.cta_section
      background url(../img/wood-pattern-ground-parquet-floor.jpg) no-repeat center center fixed
      background-size cover
      lost-align center
      height 570px
      .cta
        width 400px
        margin 10px 0
        background #fff
        display flex
        flex-flow column nowrap
        align-items center
        justify-content center
        padding 3.5rem
        font-size 1.5rem
        p
          margin 0
        #homepage_title
          font-weight: 300
          line-height 1.2
          max-width 75%
          font-size 3rem
        #cta_separator
          width 100px
          border-top 1px solid $test_color3
          border-bottom 1px solid $test_color3
          margin 2rem auto
        .cta_button
          margin-top 2rem
          //cta_button()
          button($test_color2, large)

    .fold
      height 120vh
      .panel
        height auto
        lost-row 1/2
        section.services_panel
          height auto
          margin-bottom 50px
          background-color $starboard_fold_dark
          h1
            margin 3rem 0
          .services
            lost-center 80*14px
            .col
              lost-column 1/3
              height 400px
              background transparent
      .quote-form
        background rgba(31,31,31,0.04)
        .flow-container
          lost-center 80*14px
          height 100%
          align-items center
          p
            lost-column 1/2
          .content-wrapper
            lost-column 1/2
            //background-color rgba(31,31,31,0.1)
  .mobile
    .cta_button
      position: relative
      vertical-align: top
      width: 100%
      height: 60px
      padding: 0
      font-size: 22px
      color: white
      text-align: center
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
      background: #34495e
      border: 0
      border-bottom: 2px solid #263849
      cursor: pointer
      -webkit-box-shadow: inset 0 -2px #263849
      box-shadow: inset 0 -2px #263849
      &:active
        top: 1px
        outline: none
        -webkit-box-shadow: none
        box-shadow: none

// One pixel larger else content disappears
@media (min-width: 776px)
  .mobile
    .cta
      display none
@media (max-width: 775px)
  .large
    display none
  .mobile
    h1
      font-size 1.5em
      text-align center