@import url(https://fonts.googleapis.com/css?family=Raleway:400,500)
@import "_settings.styl"

/**
*
* Mixins
*
*/
position-fixed(top, bottom, left)
  position fixed
  top top
  bottom bottom
  left left


/**
*
* Variables
*
*/
hamburger_height = 30px
hamburger_width = 40px
hamburger_layer_height = 6px


/**
*
* CSS - No Media Queries
*
*/
.wrap
  header
    display flex
    background $starboard_header_background
    height 7vh
    align-items center
    align-self center
    justify-content center
    .site-nav
    .mobile-nav
      width 100%
      display flex
      justify-content space-around
      align-items center
      .logo
        height 60px
        width auto
        float left
      .links
        font-family 'Raleway', Arial, sans-serif
        font-weight 500
        text-align center
        text-transform uppercase
        margin 0
        align-items center
        display flex
        justify-content center
        *
          box-sizing border-box
          -webkit-transition all 0.35s ease
          transition all 0.35s ease

        li
          list-style outside none none
          margin 0 1.5em
          overflow hidden
          -webkit-backface-visibility hidden;
          -webkit-transform translateZ(0) scale(1.0, 1.0);

        a
          padding 0.3em 0
          //color rgba(0, 0, 0, 0.5)
          color rgba(red($starboard_header_font_color), green($starboard_header_font_color), blue($starboard_header_font_color), 0.5)
          position relative
          display inline-block
          letter-spacing 1px
          margin 0
          text-decoration none
          &:after
          &:before
            position: absolute
            -webkit-transition: all 0.35s ease
            transition: all 0.35s ease
          &:before
            top: 100%
            display: block
            height: 3px
            width: 100%
            content: ""
            background-color: #c0392b
          &:after
            padding: 0.3em 0
            position: absolute
            top: 100%
            left: 0
            content: attr(data-hover)
            //color: black
            color: $starboard_header_font_color
            white-space: nowrap
        li:hover a, .current a
          transform: translateY(-100%)


// One pixel larger else content disappears
@media (min-width: 776px)
  .wrap
    header
      .mobile-nav
        display none
@media (max-width: 775px)
  .wrap
    header
      height 15vh
      align-items center   
      .site-nav
        display none
      .mobile-nav
        #home
          display none
        .logo 
          height 12vh
        .links
          flex-direction column
