@import '_settings'
// @import '*.css.styl'

normalize-css()
base()


html
  background url(../img/wood-pattern-ground-parquet-floor.jpg) no-repeat center center fixed
  background-size cover

body
  padding 0px
  background transparent

section
  lost-utility clearfix
  lost-center 980px