// CSS RESET
* { padding: 0; margin: 0; }

// ACTUAL MASTER
@import '_settings'
// @import '*.css.styl'
@lost flexbox flex

normalize-css()
base()

body
  //lost-utility edit
  padding 0
  background transparent


