@import "../_settings"

#index_quote
  padding 3rem
  margin auto
  width 100%
  height calc(99.99% * 3/4)

  .quote-panel
    background $white
    position: relative;
    height: auto;
    form
      text-align: center;
      h1
        margin-bottom 20px
        lost-row 1/4

form .input
  lost-row 1/4
  position: relative;
  //margin-bottom: 25px;
  #description
    height 130px
  #description, input
    background: transparent;
    outline: none;
    font-size: 1em;
    padding: 10px 10px 10px 5px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    color: $font-color;
    font-family: $font-stack;
    border-bottom: 1px solid $color_text_primary;
  label
    color: $color_text_primary;
    font-size: 0.85em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    font-family: $font-stack;
    top: 15px;
    transition: 0.195s ease all;
    text-transform: uppercase;


.bar {
  position: relative;
  display: block;
  width: 0;
  height: 2px;
  width: 0;
  bottom: 1px;
  left: 0;
  background: $color_primary;
  transition: all 0.195s ease;
}

textarea:focus ~ .bar,
textarea:valid ~ .bar,
input:focus ~ .bar,
input:valid ~ .bar {
  width: 100%;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -10px;
  font-size: 0.55em;
  color: $color_text_primary;
}


/** Buttons
 ---------------------------------------------------------*/

.button-square,
.button-transparent,
button {
  font-family: $font_heading;
  position: relative;
  display: inline-block;
  padding: 12px 25px;
  margin: 20px 0;
  background-color: $test_color3;
  color: $color_text_primary;
  border-radius: $radius;
  transition: all 0.3s;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.85em;
  outline: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  &:hover {
    background-color: darken($color_quinary, 15%)
  }
}
